In [1]:
%matplotlib inline

# Caching Rest Data Investigation
***

## Table of Contents
***

## Aim <a class="anchor" id="aim"></a>
***

The aim of this notebook is to do some Exploratory data analysis on the data obtained from the Caching Rest Application

## Code Setup <a class="anchor" id="code-setup"></a>
***

### Import Libraries

In [2]:
import pymysql
import pandas as pd
import sys
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
import seaborn as sns
sns.set_style("darkgrid")
sns.set_context("paper")

### Constants

In [3]:
db_connection = pymysql.connect("pidb","dbuser","password","cachetest" )

### Useful Functions

### File Read

In [4]:
def read_full_db_table(table_name):
    return pd.read_sql('SELECT * FROM ' + table_name, con=db_connection)

## Data Import <a class="anchor" id="data-import"></a>
***

In [5]:
batch_df = read_full_db_table("batch")
batch_df.head()

,id,cache_size_mb,cache_type,end_date,eviction_policy,start_date
0,1,256,ehcache,2018-04-13 14:03:39,LRU,2018-04-13 11:30:05
1,2,512,ehcache,2018-04-14 00:33:22,LRU,2018-04-13 18:48:15
2,3,128,ehcache,2018-04-14 14:06:03,LRU,2018-04-14 12:39:39
3,4,1024,ehcache,2018-04-15 06:37:25,LRU,2018-04-14 19:00:22
4,5,512,hazelcast,2018-04-15 21:27:42,LRU,2018-04-15 15:40:38

In [6]:
cache_remainder_df = read_full_db_table("cache_remainder")
cache_remainder_df.head()

,id,file_name,file_sizekb,image_hash,batch_id
0,1,../images/animals/google-image(0079).jpeg,45,4565da9f4eb917b6ecaf854d22c40147,1
1,2,../images/animals/google-image(0048).jpeg,154,997792fb1c677abee0044cb0c85f1715,1
2,3,../images/animals/google-image(0318).jpeg,26,1349ed000dc9313c23cf5867e60c85ed,1
3,4,../images/animals/google-image(0441).jpeg,20,94c302ce38b7247bc8e975b45c3f0033,1
4,5,../images/animals/google-image(0362).jpeg,26,f9fd900e15665cdfdf59fa1c0cb9e88f,1

In [ ]:
cache_initial_content_df = read_full_db_table("cache_initial_content")
cache_initial_content_df.head()

In [ ]:
cache_performance_df = read_full_db_table("cache_performance")
cache_performance_df.head()